.search{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding-left: 1000px;
    column-gap: 20px;
    padding-top: 20px;

    input{
        border: 2px;
        border-radius: 11px;
    }

    button{
        position: absolute;
    }

}

