.cardContainer{
    position: inherit;
    margin-left: 1cm; 
    align-content: center;

    .Card{
        border-radius: 35px;
        position: absolute;
        background: transparent;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.648);
        padding-bottom: 1cm;
        padding-top: 1cm;
        text-align: center;
        width: 250px;
        height: 331px;
        color:black;
        
        .flag{
            width: 150px;
            height: 80px;
        }

    }
    
    .Card:hover{
        cursor: pointer;
        background: transparentize($color: rgba(245, 172, 13, 0.438), $amount: 0);
        color: white;

    }

}
