.pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 30px;
    text-align: center;
    position:inherit;
    padding-left: 510px;
    padding-bottom: 400px;

    .page{
        width: 30px;
        text-align: center  ;
    }

    button{
        height: 30px;
    }

    p{
        flex-shrink: 0;
    }


}